.chartContainer { composes: chartContainer from './trendsChart.module.css'; }
.chartLabel { composes: chartLabel from './trendsChart.module.css'; }
.tooltip { composes: tooltip from './trendsChart.module.css'; }
.tooltipDate { composes: tooltipDate from './trendsChart.module.css'; }
.tooltipValue { composes: tooltipValue from './trendsChart.module.css'; }
