.chartContainer {
  width: 100%;
}

.tooltip { composes: tooltip from './trendsChart.module.css'; }
.tooltipTitle { composes: tooltipTitle from './trendsChart.module.css'; }
.tooltipRow { composes: tooltipRow from './trendsChart.module.css'; }
.tooltipDot { composes: tooltipDot from './trendsChart.module.css'; }
.tooltipTotal { composes: tooltipTotal from './trendsChart.module.css'; }
