.wrapper {
  height: 100%;
  overflow-y: auto;
}

.container {
  padding: var(--spacing-xl);
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.errorAlert {
  margin-bottom: var(--spacing-xl);
}
